a:link {
    color: blue;
}
a:visited {
    color: blue;
}
header {
    text-align: center;
}
footer {
    text-align: center;
}
main {
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    a:link {
        color: #58a6ff;
    }
    a:visited {
        color: #58a6ff;;
    }
    header {
        color: whitesmoke;
        text-align: center;
    }
    footer {
        color: whitesmoke;
        text-align: center;
    }
    main {
        text-align: center;
        padding: 10px;
        line-height: 1.5;
    }
}
